<launch>
    <node pkg="boolean_topic_filters" type="bool_filters.py" name="bool_filter_node">
        <rosparam param="in">
            A : topic_A, Int32
            B : topic_B, Bool
        </rosparam>
        <rosparam param="out">
            C : topic_C, Int64
            D : topic_D, Bool
            E : topic_F, Bool
        </rosparam>
        <rosparam param="map">
            C : not B
            D : A
            E : F or B
            F : not A
        </rosparam>
    </node>
</launch>